body{
  margin:0 0 0 0;
}
h1, h2{
  margin:0;
}

a{
  color:white;
}

a:hover{
  background-color: red;
}

.code{
  background-color: lightgray;
  overflow: auto;
  padding: 5px;
}

#navbar{
  position:fixed;
  background-color: darkgreen;
  color:white;
  width: 20%;
  height: 100%;
  overflow: auto;
}

#nav-header{
  padding: 1em;
}

.main-section{
  padding:1em;
}

.nav-link{
  display:block;
  padding: 1em;
  margin:0;
  color: white;
  text-decoration-line: none;
  border:1px solid darkgreen;
  background-color: green;
}

.dropdown-button{
  display:none;
}

#main-doc{
  background-color: lightgreen;
  color: black;
  margin-left: 20%;
  width: 80%;
}

@media (max-width: 640px) {
  .dropdown-button{
    display:inline;
    background-color: green;
  }
  .hh-hide{
    display:none;
  }

  .show{
    display:block;
  }

  #navbar{
    position:fixed;
    background-color: darkgreen;
    color:white;
    width: 100%;
    height: auto;
    overflow: auto;
    text-align:center;
  }
  :target:before{
    content:'';
    display:block;
    margin-top:50px;
  }
  #nav-header{
    padding: 1em;
  }

  .main-section{
    padding:1em;
  }

  .nav-link{
    display:block;
    padding: 1em;
    margin:0;
    color: white;
    text-decoration-line: none;
    border:1px solid darkgreen;
    background-color: green;
  }

  #main-doc{
    background-color: lightgreen;
    color: black;
    width: 100%;
    margin-left:0;
    padding-top:50px;
  }
}

@media (max-width: 480px){
  h1{
    font-size: 16px;
  }
}
